﻿root {
	display: block;
}
html, body {
	color: #333333;
	font-family: Arial;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	background: #FFFFFF url(../css/images/taxform_background.png) center center fixed no-repeat;
	-moz-background-size: cover;
	background-size: cover;
}
a, .a:active, a:focus, a:link, a:visited
{
	color: #0675a3;
	text-decoration: none;
}
a:hover {
	color: red;
	text-decoration: underline;
}
/* CLEAR FIX */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	margin: 0px;
	padding: 0px;
}
/* MENU */
div#menu
{
}
div#col1
{
	display: inline;
	float: left;
	width: 20%;
}
div#col2
{
	display: inline-block;
	float: left;
	width: 60%;
}
div#col3
{
	float: right;
	display: inline;
	width: 20%;
}
.tblMenu {
	background-color: transparent;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	min-width: 160px;
}
a.menu {
	color: #333333;
	text-decoration: none;
	margin: 10px;
}
a.menu:visited {
	color: #333333;
	text-decoration: none;
}
a.menu:hover, .tdmenu:hover a.menu, {
	background-color: #ffffaa;
	color: #000000;
}
.tdmenu, .button {
	background-color: #dbe8fe;
	border: 1px solid #0675A3;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 3px 7px 3px 7px;
	margin: 3px;
}
.tdmenu:hover, .button:hover {
	background-color: #ffffaa;
}
.tdmenu.active, .tdmenu.active:hover, .tdmenu.active a, .tdmenu.active a:hover {
	
	background-color: #0675a3;
	color: #ffffff;
	text-decoration: none;
}
.tdFilter
{
	border: 1px solid #ffffff;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 1px 7px 1px 7px;
	margin: 0px;
	vertical-align: middle;
	text-align: center;
	padding-bottom: 2px;
}
.tdFilter:hover
{
	background-color: #dbe8fe;
	border: 1px solid #0675A3;
}
/* */
#all {
	min-width: 1000px;
}
#divContent {
	display: block;
	height: auto;
	min-height: 550px;
}
#header {
	background: #0675a3;
	clear: both;
	text-align: center;
	height: 77px;
	vertical-align: middle;
	font-size: 36px;
	color: #ffffff;
	margin: 5px;
	position: relative;
	padding: 0px;
	margin: 0px;
}
#footer {
	color: #666666;
	float: right;
	font-size: 8pt;
	padding: 50px;
}
.link_head {
	float: right;
	padding: 5px;
	font-size: 10pt;
	vertical-align: middle;
}
#header a:visited {
	color: #fbd204;
	font-size: 20px;
	text-align: right;
	text-decoration: none;
}
#header a:hover {
	color: #fbd204;
	font-size: 20px;
	text-align: right;
	text-decoration: underline;
}
#header a {
	color: #fbd204;
	font-size: 20px;
	text-align: right;
	text-decoration: none;
}
#content {
	min-height: 500px;
	padding: 10px 50px 20px 50px;
}
.errors {
	color: #ff0000;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
}
.error, .error_instructions {
	color: #ff0000;
	font-size: 12px;
}
table {
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}
table.editform, fieldset {
	background-color: #ffffff;
	border: 1px #efefef solid;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius: 15px;
	padding: 10px 20px 20px 20px; 
	-webkit-border-radius: 15px;
	width: auto;
}
legend {
	border: none;
	color: #0675a3;
	font-size: 10pt;
	font-variant: small-caps;
	padding: 0px 10px 0px 10px;
}
table.view {
	background-color: #ffffff;
	border: 1px solid #0675a3;
	width: 100%;
	text-align: center;
	font-size: 12px;
	border-collapse: collapse;
}
table.view tr {
	border: none;
	border-collapse: collapse;
}
table.view tr:hover {
	background-color: #ffffaa;
}
.view tr.clickRow
{
	cursor: pointer;
}
.view td {
	border: 1px #efefef solid;
	border-collapse: collapse;
	color: #333333;
	padding: 2px 3px 2px 3px;
}
th {
	border: 1px #0675a3 solid;
	border-collapse: collapse;
	background: #0675a3;
	color: #ffffff;
	font-size: 13px;
	padding: 3px;
	text-align: center;
	vertical-align: top;
}
.view th a
{
	color: #ffffff;
}
.view th a:hover
{
	color: #ffffaa;
	text-decoration: none;
}
table.view.widthauto {
	width: auto;
	margin-left: 0;
	margin-right: 0;
}
table.manage {
	margin: 5px auto 5px auto;
	width: 530px;
}
.submit {
	cursor: pointer;
	border: 1px solid #0675A3;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	color: #ffffff;
	background-color: #0675a3;
	padding: 3px;
	width: 100px;
}
.submit:hover {
	color: #ffffaa;
	background-color: #056583;
}
.input {
	border: #999999 1px solid;
	margin: 5px;
	width: 95%;
	padding: 3px;
	background-color: #dbe8fe;
}
.input:hover, .input:active, input:focus {
	background-color: #ffffaa;
	border: #333333 1px solid;
}
textarea.input {
	width: 252px;
}
.link {
	display: inline-block;
	float: right;
	display: inline;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}
.view_link {
	color: #ffffff;
	text-decoration: none;
}
.view_link:hover {
	text-decoration: underline;
}
.head {
	padding: 3px;
}
a img {
	border: none;
}
.print_section {
	margin-top: 20px;
}
@media print {
	.print_section, #header, #menu, #footer, #report_filters {
	    display: none;
	}
}
.print_iframe {
	width: 0 !important;
	height: 0 !important;
	border: none !important;
}
.filters {
	background: #dbe8fe;
	text-align: center;
}
.message
{
	display: block;
	color: #0675A3;
	font-size: 10pt;
	font-variant: small-caps;
	padding: 1px 50px 1px 50px;
}
.back_button_link {
	float: right;
	margin-right: 15px;
}
.Client_Name, .Company_Name {
	display: none;
}
.add, .add_instructions {
	position: fixed; /*top: 200px;
    left: 485px;*/;
	display: none;
	z-index: 10;
	background: #ffffff;
	border-color: #0675a3;
	border-style: double;
	width: 300px;
}
.add_new_referred_by, .add_new_client_type, .add_new_occupation {
	position: fixed; /* top: 800px;
    left: 485px;*/;
	display: none;
	z-index: 10;
	background: #ffffff;
	border-color: #0675a3;
	border-style: double;
	width: 300px;
}
.overlay, .overlay_instructions {
	background-color: #fff;
	background-position: center;
	display: none;
	vertical-align: middle;
	z-index: 3;
	margin: 0px;
	padding: 0px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	_position: absolute;
}
.cancel, .cancel_instructions, .cancel_referred_by, cancel_new_entity_type {
	cursor: pointer;
}
.ok, .ok_instructions, .add_occupation, #add, .ok_referred_by, .add_referred_by, .add_client_type, .ok_entity_type {
	cursor: pointer;
}
.message_success, .message_success_instructions, .message_success_referred_by, .message_success_client_type, .message_success_occupation {
	color: #009933;
	font-size: 12px;
}
.view_pdf {
	text-align: center;
	font-size: 8pt;
}
.title_status_history {
	font-size: 14px;
	text-align: left;
	padding: 3px;
	color: #0675A3;
}
.tax_return_history {
	max-height: 1000px;
	overflow-y: scroll;
	overflow-x: hidden;
    /* width: 600px;*/
}
.button_link_right {
	float: right;
	margin-right: 20px;
}
.btnAddBack {
	background-color: #dbe8fe;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #0675A3;
	padding: 2px 5px 2px 5px;
	vertical-align: middle;
	height: 20px;
	display: inline-block;
	float: right;
	margin: 10px 50px 0px 0px;
}
.btnAddBack:hover {
	background-color: #ffffaa;
}
.companyName {
	color: #0675a3;
	font-size: 14pt;
	font-weight: bold;
	text-shadow: black 0.1em 0.1em 0.1em;
}
span.sub
{
	font-size: 8pt;
	color: #666666;
}
table.notes
{
	width: 650px;
}
table.report
{
	width: 850px;
}table.notes td.label, table.report label
{
	font-size: 8pt;
}
table.notes td.data, table.report td.data
{
	font-size: 10pt;
	font-weight: bold;
}
.pointer
{
	cursor: pointer;
}
.manage_delete {
	float: right; 
	font-size: 8pt; 
	width: 50px;
}
.datepicker
{
	width: 85%;
}
.datepicker.autoSubmit
{
	width: 65px;
}

#multiple_submit {
    margin-top: 10px;
    float: right;
}